body,
html {
    height: 100%;
}

.navigation {
    background-color: #c1cad8;
    padding: 0 10px;
}

#main img {
    padding: 10px;
}

footer.page-footer {
    background-color: #c1cad8;
}

.portfolio-section {
    background-color: #ececec;
}

.portfolio-section h2 {
    color: black;
}

#main,
.section-title {
    text-align: center;
}

#main p {
    font-size: 1.5em;
}

.card .card-image img {
    padding: 10px;
}

.page-footer,
ul {
    text-align: center;
}

.page-footer ul li {
    display: inline;
}

.page-footer h2 {
    font-size: 1.5em;
    color: black;
}

.page-footer p {
    color: black;
}